/*Pseudo-selectores (custom properties)*/
:root {
  --blanco: #ffffff;
  --oscuro: #212121;
  --primario: #ffc107;
  --secuandario: #0097a7;
  --gris: #757575;

  --fuente-principal: 3.8rem;
}

/* Regla para adaptar el formato de pantalla*/

html {
  font-size: 62.5%;
}

body {
  font-size: 16px;
  font-family: "Krub", sans-serif;
}

/**********************/

.titulo {
  text-align: center;
  font-size: var(--fuente-principal);
}

.titulo span {
  font-size: 2rem;
}

.contenedor {
  width: 120rem;
  margin: 0 auto;
}
/* Navegación */
.nav-backgrnd {
  background-color: var(--secuandario);
}
.navegacion-principal {
  display: flex;
  justify-content: space-between;
}

.navegacion-principal a {
  padding: 1rem;
  color: var(--blanco);
  text-decoration: none; /* Quitar línea de enlace*/
  font-size: 2rem;
  font-weight: bold;
}

.navegacion-principal a:hover {
  background-color: var(--primario);
  color: var(--oscuro);
}


/** Media Queries**/

@media (min-width: 400px){
  body{
    background-color: tomato;
  }
}

@media (min-width: 768px){
  background-color: blue;
}